.footer_bg{
    padding-top: 30px;
    background-color: #333;
    height: 625px;
}
.footer_bg p {
    color: #fff;
}
.footer_bg h5 {
    color: #fff;
    border-bottom: 1px solid #fff;
   padding: 15px;
    font-family:  Zapf Humanist,serif;

}
.footer_links{
    text-decoration: none;
    color: #fff;

}
.footer_bg ul li  {
    color: #fff;
    list-style: none;
   padding-bottom: 6px;
}
.email-text{
    background-color: #333; 
    border: solid #fff;
    color: #fff !important;
}
.footer_down{
    border-bottom: 3px solid #fff;
    color: #fff;
}
